/* глобальные переменные */
:root {
  --main-color-text: #212121;
  --second-color-text: #ffffff;
  --main-button-color: #2196f3;
  --main-color-links: #212121;
  --main-color-subtitle: #757575;
  --hover-color-links: #2196f3;
}

/* глобальные стили */
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-text);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  color: var(--main-color-links);
}
button {
  cursor: pointer;
}

/* логотип */
header .logo,
footer .logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

header .logo span,
footer .logo span {
  color: var(--hover-color-links);
}

/* верхняя навигация */
header .top-right-nav,
header .top-left-nav {
  font-weight: 500;
  list-style: none;
}
header .top-right-nav li > a:hover,
header .top-left-nav li > a:hover,
header .top-right-nav li > a:focus,
header .top-left-nav li > a:focus {
  color: var(--hover-color-links);
}
header .top-left-nav li > a {
  color: var(--main-color-subtitle);
}

/* баннер */
main .content {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}
main .content h1 {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-color-text);
}
main .content button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  padding: 10px 32px;
  background-color: #2196f3;
  color: var(--second-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

/* особенности */
.hide {
  display: none;
}
.quality,
.aboutwork ul,
.ourteam ul,
section .main-nav,
.portfolio {
  list-style: none;
}
.quality li > h3 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.quality li > p {
  color: var(--main-color-subtitle);
}

/* чем мы занимаемся */
.aboutwork h2,
.ourteam h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/* наша команда */
.ourteam {
  background-color: #f5f4fa;
}
.ourteam li > h3 {
  font-weight: 500;
  font-size: 16px;
}
.ourteam ul li > p,
.portfolio li a > p {
  font-size: 16px;
  color: var(--main-color-subtitle);
}

/* подвал */
footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}
footer .logo,
footer a {
  color: var(--second-color-text);
}
footer address ul {
  list-style: none;
  line-height: 1.8;
  font-style: normal;
}
.footer-links li:nth-last-of-type(-n + 2) a {
  color: var(--main-color-subtitle);
}
.footer-links li > a:hover,
.footer-links li > a:focus {
  color: var(--hover-color-links);
}

/* ----  СТРАНИЦА ПОРТФОЛИО ---- */

/* главная навигация - портфолио */
section .main-nav li > button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
}
section .main-nav li > button:hover,
section .main-nav li > button:focus {
  background: #2196f3;
  color: var(--second-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* портфолио */
.portfolio li a > h2 {
  font-weight: 700;
  font-size: 18px;
}
